* {
    margin: 0;
    padding: 0;
}

.box {
    position: relative;
    left: 50%;
    top: 200px;
    margin-left: -200px;
    width: 400px;
    height: 200px;
    background-color: #ccc;
}

.box .b1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #fc0;
    border-bottom-right-radius: 50px;
}

.box .b2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: #fc0;
    border-top-left-radius: 50px;
}